## PROBLEM

####  In this project we will be exploering diffrent venues of banglore and will find out the most suitable one for a tourist according to his requirements.

In [4]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0
body = client_b2f33c8afd8245bb8aa61c7757278cc0.get_object(Bucket='capstoneproject-donotdelete-pr-ba4ifexswrkhiy',Key='Untitled spreadsheet - IN.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )


df_data_1 = pd.read_csv(body)
df_data_1.rename(columns={'744301': 'Postal Code'}, inplace=True)
df_data_1.rename(columns={'9.1167': 'lat'}, inplace=True)
df_data_1.rename(columns={'92.8': 'lng'}, inplace=True)
df_data_1.head()

,IN,Postal Code,Kakana,Andaman & Nicobar Islands,01,Nicobar,638,Carnicobar,Unnamed: 8,lat,lng,4
0,IN,744301,Sawai,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,7.5166,93.6031,4
1,IN,744301,Lapathy,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.1833,92.7667,3
2,IN,744301,Mus,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.2333,92.7833,4
3,IN,744301,Carnicobar,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.1833,92.7667,3
4,IN,744302,Campbelbay,Andaman & Nicobar Islands,1,Nicobar,638.0,Nancowrie,NaN,9.1833,92.7667,1

#### We used a csv file containing all the postal codes above and scrapped a website below for latitudes and longitude for the same.

In [6]:
ba=df_data_1[['Postal Code','lat','lng']]

In [7]:
ba.drop_duplicates(subset ="Postal Code", 
                     keep = False, inplace = True)
ba.shape

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

(1877, 3)

In [8]:
import urllib.request
url = "https://www.indiatvnews.com/pincode/karnataka/bangalore/bangalore-city"
page = urllib.request.urlopen(url)
from bs4 import BeautifulSoup
soup = BeautifulSoup(page, "lxml")
#print(soup.prettify())

In [9]:
all_tables=soup.find("div", attrs={"class": "lhs mb30"})
right_table=all_tables.find("table", attrs={"class": "alt"})
lst=[]
for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==5:
        lst.append([cells[0].text.rstrip(),cells[1].text.rstrip(),cells[2].text.rstrip(),cells[3].text.rstrip(),cells[4].text.rstrip()])

In [10]:
import pandas as pd
cols = ['Neighborhood', 'Div', 'City', 'State', 'Postal Code']
df = pd.DataFrame(lst, columns=cols)
df = df.drop(['City','State','Div'],axis=1)
df=df.astype({'Postal Code': 'int64'})
d = pd.merge(df,ba, on="Postal Code",how='inner')
d.to_csv('banglore_data.csv')

In [12]:
df = pd.read_csv('banglore_data.csv', index_col=0)
df.head(10)

                      Neighborhood  Postal Code      lat      lng
0  Bangalore International Airport       560300  13.0082  77.5293
1                      Benson Town       560046  13.2257  77.5750
2                  C.V.Raman Nagar       560093  13.1077  77.5810
3                           Domlur       560071  13.2257  77.5750
4                      Fraser Town       560005  12.9910  77.5843
5                         G.K.V.K.       560065  12.9881  77.5052
6                      H.K.P. Road       560051  12.9979  77.5861
7            Indiranagar Bangalore       560038  13.2257  77.5750
8                Maruthi Sevanagar       560033  13.0108  77.7494
9                   Sadashivanagar       560080  13.2257  77.5750