In [2]:
# The code was removed by Watson Studio for sharing.

,IN,744301,Kakana,Andaman & Nicobar Islands,01,Nicobar,638,Carnicobar,Unnamed: 8,9.1167,92.8,4
0,IN,744301,Sawai,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,7.5166,93.6031,4
1,IN,744301,Lapathy,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.1833,92.7667,3
2,IN,744301,Mus,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.2333,92.7833,4
3,IN,744301,Carnicobar,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.1833,92.7667,3
4,IN,744302,Campbelbay,Andaman & Nicobar Islands,1,Nicobar,638.0,Nancowrie,NaN,9.1833,92.7667,1

In [3]:
ba=df_data_1[['Postal Code','lat','lng']]

KeyError: "None of [Index(['Postal Code', 'lat', 'lng'], dtype='object')] are in the [columns]"